#THIS IS AN EXAMPLE OF A .env FILE
#IF YOU WANT TO USE THIS FILE AS YOUR .env FILE, RENAME IT TO .env

#SET THE ENVIRONMENT (values: development, production)
NODE_ENV=development

DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=reservations
DB_HOSTADDRESS=127.0.0.1

EXPRESS_PORT=3000
